.button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
  
.button-group button {
    margin-left: 8px;
}
  
.add-button {
    margin-top: 16px;
}
  
nz-breadcrumb {
    margin-bottom: 16px;
}
  
nz-collapse-panel {
    margin-bottom: 16px;
}
  
nz-card {
    margin-bottom: 8px;
}