<nz-layout class="layout">
  <nz-header class="header">
    <div class="header-item">
      <span class="header-menu-icon"
        nz-icon 
        nzType="menu" 
        nzTheme="outline"
        (click)="cambiar()"
      ></span>
      <div class="header-logo">
        <img src="assets/logo.png" alt="Logo Escuela"/>
      </div>
    </div>
    <div class="header-item">
      <span
        class="header-bell-icon"
        nz-icon
        nzType="bell"
        nzTheme="outline"
      ></span>
    </div>
    <div class="header-item">
      <div class="header__user">
        <!-- Aquí mostramos el nombre de usuario -->
        <div class="header__user-name">{{ userName || 'Nombre de Usuario' }}</div>
        <nz-avatar class="header__user-avatar" [nzSize]="40" nzIcon="user" nzSrc="assets/private/interested/user-avatar_000001.jpg"></nz-avatar>
      </div>
      <a nz-dropdown [nzDropdownMenu]="menu">
        <span
          class="header-down-icon"
          nz-icon
          nzType="down"
          nzTheme="outline"
        ></span>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item routerLink="perfil" routerLinkActive="active">
            <span nz-icon nzType="user" nzTheme="outline"></span>
            Perfil
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="star" nzTheme="outline"></span>
            Calificaciones
          </li>
          <li nz-menu-item nzDanger>
            <span nz-icon nzType="logout" nzTheme="outline"></span>
            Cerrar Sesión
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </nz-header>
</nz-layout>
