.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 30px 16px 0;
  float: left;
}

.layout {
  width: 100vw;
}

.header {
  background-color: #fff;
  display: grid;
  grid-template-columns: 0px 1fr 66px max-content;
  grid-template-rows: 64px;
}

.header-item {
  display: flex;
  justify-content: center;
  height: 64px;
}
  
.header-item:nth-child(2) {
  grid-column: 3;
}

.header__user {
  display: grid;
  grid-template-columns: 1fr 40px;
  grid-template-rows: 1fr 1fr;
  column-gap: 15px;
  align-items: center;
  padding: 10px 20px;
}
  
.header__user-name {
  grid-row: 1;
  grid-column: 1;
  font-size: 14px;
  line-height: 14px;
}
  
.header__user-rol {
  grid-row: 2;
  grid-column: 1;
  color: #2f32d8;
  font-size: 14px;
  line-height: 14px;
}
  
.header__user-avatar {
  grid-row: 1 / 3;  /*Ocupa fila 1 y 2 */
  grid-column: 2;
  line-height: 14px;
}

  .header-menu {
    line-height: 64px;
  }

  .sider-menu {
    height: 100%;
    border-right: 0;
  }

  .inner-layout {
    padding: 0 24px 24px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  nz-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }