<nz-layout class="layout">
  <nz-header class="header">
    <div class="header-item">
      <span class="header-menu-icon"
        nz-icon 
        nzType="menu" 
        nzTheme="outline"
      ></span>
    </div>
    <div class="header-item">
      <span
        class="header-bell-icon"
        nz-icon
        nzType="bell"
        nzTheme="outline"
      ></span>
    </div>
    <div class="header-item">
      <div class="header__user">
        <div class="header__user-name">Nombre de Usuario</div>
        <div class="header__user-rol" >Rol</div>
        <nz-avatar class="header__user-avatar" [nzSize]="40" nzIcon="user" nzSrc="assets/private/interested/user-avatar_000001.jpg"></nz-avatar>
      </div>
      <span
        class="header-down-icon"
        nz-icon
        nzType="down"
        nzTheme="outline"
      ></span>
    </div>
  </nz-header>
</nz-layout>

<!-- <nz-layout>
      <nz-sider nzWidth="200px" nzTheme="light">
        <ul nz-menu nzMode="inline" class="sider-menu">
          <li nz-submenu nzIcon="home" nzTitle="Inicio">
            
          </li>
          <li nz-submenu nzTitle="Semana 1" nzIcon="folder">
            <ul>
              <li nz-menu-item>General</li>
              <li nz-menu-item>Temas</li>
              <li nz-menu-item>Test</li>
              <li nz-menu-item>Examen</li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Semana 2" nzIcon="folder">
            <ul>
              <li nz-menu-item>General</li>
              <li nz-menu-item>Temas</li>
              <li nz-menu-item>Test</li>
              <li nz-menu-item>Examen</li>
            </ul>
          </li>
        </ul>
      </nz-sider>
      <!--<nz-layout class="inner-layout">
        <nz-breadcrumb>
          <nz-breadcrumb-item>Inicio</nz-breadcrumb-item>
          <nz-breadcrumb-item>Semana 1</nz-breadcrumb-item>
          <nz-breadcrumb-item>Ver Estado</nz-breadcrumb-item>
        </nz-breadcrumb>
        <nz-content>Content</nz-content>
      </nz-layout>
  </nz-layout> -->
