<nz-form-item>
  <nz-form-label [nzSpan]="null" nzRequired>{{ label }}</nz-form-label>
  <nz-form-control
    [nzSpan]="null"
    nzHasFeedback
    [nzErrorTip]="'¡Debe seleccionar un' + prefijo + ' alternativa!'"
  >
    <!-- Aquí corregimos el uso de *ngFor -->
    <nz-radio-group
      [formControlName]="controlName!"
      (ngModelChange)="cambio($event)"
    >
      <!-- Cambia @for por *ngFor -->
      <label
        nz-radio
        *ngFor="let option of options; let i = index"
        [nzValue]="option.id"
      >
        {{ option.descripcion }}
      </label>
    </nz-radio-group>
  </nz-form-control>
</nz-form-item>
