<nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired>{{ label }}</nz-form-label>
    <nz-form-control
      [nzSpan]="null"
      nzHasFeedback
      [nzErrorTip]="'¡Debe seleccionar un' + prefijo + ' alternativa!'"
    >
      <nz-radio-group
        [formControlName]="controlName!"
        (ngModelChange)="cambio($event)"
      >
        @for (option of options; track option; let i = $index) {
        <label nz-radio [nzValue]="options[i].id">{{ options[i].texto }}</label>
        }
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>