<div style="padding: 0 3em 1.5em">
  <nz-progress
    [nzPercent]="porcentaje"
    [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }"
    nzStatus="active"
  ></nz-progress>
</div>

<main class="exam-container">
  <section class="details-card">
    <h2 class="details-title">Detalles</h2>

    <div class="course-info">
      <div class="info-item">
        <span nz-icon nzType="file" nzTheme="outline"></span>
        <span>Curso</span>
      </div>
      <span>{{ courseTitle }}</span> <!-- Uso de variable del componente -->
    </div>

    <nz-divider class="divider"></nz-divider>

    <div class="passing-percentage">
      <div class="info-item">
        <span nz-icon nzType="percentage" nzTheme="outline"></span>
        <span>Porcentaje para aprobar</span>
      </div>
      <span class="percentage">{{ passingPercentage }}</span> <!-- Uso de variable del componente -->
    </div>

    <div class="duration">
      <div class="info-item">
        <span nz-icon nzType="field-time" nzTheme="outline"></span>
        <span>Duración</span>
      </div>
      <span>{{ duration }}</span> <!-- Uso de variable del componente -->
    </div>
  </section>

  <div class="exam" style="max-width: 900px; margin: 0 auto;">
    <h1 class="exam-title" style="font-size: medium; text-align: center; margin-bottom: 0">
      EXAMEN
    </h1>

    <form nz-form [formGroup]="modalForm" style="padding: 3em; width: 100%;">
      <h2 style="text-align: left;">Preguntas</h2>

      <!-- Usando *ngIf para verificar si hay enunciados -->
      <ng-container *ngIf="enunciados && enunciados.length > 0; else noQuestions">
        <!-- Iteración a través de los enunciados -->
        <ng-container *ngFor="let enunciado of enunciados; trackBy: trackEnunciado">
          <div nz-row style="margin-bottom: 20px;">
            <div nz-col [nzSpan]="24">
              <label
                style="font-weight: bold; display: block; margin-bottom: 10px; font-size: 16px;">
                {{ enunciado.numero }}. {{ enunciado.descripcion }}
              </label>
            </div>

            <!-- Opciones de respuesta -->
            <div nz-col [nzSpan]="24">
              <app-radio-group-front
                [controlName]="'e_' + enunciado.id"
                [gender]="'F'"
                [options]="obtenerRespuestasPorEnunciado(enunciado.id)"
                (change)="setPorcentaje()"
                style="display: block; margin-left: 20px;"
              ></app-radio-group-front>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <!-- Plantilla alternativa para cuando no hay preguntas -->
      <ng-template #noQuestions>
        <p>No hay preguntas disponibles para este examen.</p>
      </ng-template>

      <!-- Botón de enviar -->
      <nz-divider></nz-divider>
      <div nz-row nzJustify="end">
        <div nz-col>
          <button nz-button nzSize="large" nzType="primary" (click)="enviarForm()">
            <span nz-icon nzType="send" nzTheme="outline"></span> Enviar Respuestas
          </button>
        </div>
      </div>
    </form>
  </div>
</main>
