<nz-layout class="side-bar">
    <nz-sider 
    nzCollapsible
    [nzCollapsed]="despliegue"
      [nzTrigger]="null"
    nzTheme="light">
      <ul nz-menu nzMode="inline">
        <li nz-menu-item routerLink="home" routerLinkActive="active">
            <span nz-icon nzType="home"></span>
            <span>Inicio</span>
        </li>
        <li nz-submenu nzTitle="Semana 1" nzIcon="folder">
          <ul>
            <li nz-menu-item routerLink="semana1-general" routerLinkActive="active">General</li>
            <li nz-menu-item routerLink="semana1-temas" routerLinkActive="active">Temas</li>
            <li nz-menu-item routerLink="semana1-test" routerLinkActive="active">Test</li>
            <li nz-menu-item routerLink="semana1-examen" routerLinkActive="active">Examen</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Semana 2" nzIcon="folder">
          <ul>
            <li nz-menu-item routerLink="semana2-general" routerLinkActive="active">General</li>
            <li nz-menu-item routerLink="semana2-temas" routerLinkActive="active">Temas</li>
            <li nz-menu-item routerLink="semana2-test" routerLinkActive="active">Test</li>
            <li nz-menu-item routerLink="semana2-examen" routerLinkActive="active">Examen</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
</nz-layout>
