<div class="content">
    <div class="title">
        <p nz-typography>Inicio</p>
    </div>
    <div class="cards">
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="8">
                <nz-card>
                    <div class="week-image">
                        <img class="image-icon" loading="lazy" alt="" src="assets/images/educa.jpg" />
                    </div>
                    <div class="content-card">
                        <nz-card-meta
                            nzTitle="Semana 1"
                            nzDescription="This is the description"
                        ></nz-card-meta>
                    </div>
                </nz-card>
            </div>
            <div nz-col [nzSpan]="8">
                <nz-card>
                    <div class="week-image">
                        <img class="image-icon" loading="lazy" alt="" src="assets/images/educa.jpg" />
                    </div>
                    <div class="content-card">
                        <nz-card-meta
                            nzTitle="Semana 2"
                            nzDescription="This is the description"
                        ></nz-card-meta>
                    </div>
                </nz-card>
            </div>
            <div nz-col [nzSpan]="8">
                <nz-card>
                    <div class="week-image">
                        <img class="image-icon" loading="lazy" alt="" src="assets/images/educa.jpg" />
                    </div>
                    <div class="content-card">
                        <nz-card-meta
                            nzTitle="Semana 3"
                            nzDescription="This is the description"
                        ></nz-card-meta>
                    </div>
                </nz-card>
            </div>
        </div>
    </div>
    <div class="cards">
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="8">
                <nz-card>
                    <div class="week-image">
                        <img class="image-icon" loading="lazy" alt="" src="assets/images/educa.jpg" />
                    </div>
                    <div class="content-card">
                        <nz-card-meta
                            nzTitle="Semana 4"
                            nzDescription="This is the description"
                        ></nz-card-meta>
                    </div>
                </nz-card>
            </div>
            <div nz-col [nzSpan]="8">
                <nz-card>
                    <div class="week-image">
                        <img class="image-icon" loading="lazy" alt="" src="assets/images/educa.jpg" />
                    </div>
                    <div class="content-card">
                        <nz-card-meta
                            nzTitle="Semana 5"
                            nzDescription="This is the description"
                        ></nz-card-meta>
                    </div>
                </nz-card>
            </div>
            <div nz-col [nzSpan]="8">
                <nz-card>
                    <div class="week-image">
                        <button>
                            <span nz-icon nzType="plus" nzTheme="outline"></span>
                            <span>Agregar Semana</span>
                        </button>
                    </div>
                    <div class="content-card">
                        
                    </div>
                </nz-card>
            </div>
        </div>
    </div>
</div>
